@import url('https://foknts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  animation: apearing_anim .4s linear;
  scroll-behavior: smooth;
}

@keyframes apearing_anim {
  0% {opacity: 0;}
  100%{opacity: 100%;}
}


:root {
  --primary-color : #0065FC /* SIMPLE BLUE */;
  --secondary-color : #DEEBFF /* FULL LIGHT BLUE */;
  --background-color : #F2F2F2 ; /* GRAY */
}

body {
  font-family: 'Raleway' ;
  
}
      /*

                            HEADER BLOCK

      */
      
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  padding-inline: 25px;
}
header img{
  /* width: fit-content; */
  width: calc(6vw + 6%);
}
@media screen and (max-width : 730px) {
  header img{
    width: calc(20vw + 7%);
  }
}


header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

header nav a {
  height: 100%;
  width: fit-content;
  padding: 10px 15px;
  color: rgb(70, 70, 70);
  font-weight: 600;
  transition: .6s;

  display: flex;
  justify-content: center;
  align-items: center;
}


header nav a.active {
  border-top: 3px solid var(--primary-color);
  color: var(--primary-color);  
}
header nav a:hover {
  border-top: 2px solid var(--primary-color);
  color: white;
  background: #0065fc8e;
}



          /* 
                MAIN BLOCK
          */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 35px;
  padding-inline: 35px;
}


          /* 
                SEARCH BLOCK
          */

         
.search-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.search-block p {
  font-weight: bolder;
  font-family: 'Raleway';
  font-size: 22px;
}
.search-block h3 {
  color: #313131;
  font-size: 15px;
}

.search-block form {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  background: none;
  font-weight: 700;
  height: 45px;
}

.search-block form i{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  background: var(--background-color);
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
  font-weight: 700;
  height: 100%;
}


.search-block form input {
  border: 1px solid var(--background-color);
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
}

.search-block form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;
  background: var(--primary-color);
  transition: .7s;
  border: none;
  height: 100%;
  color: white;
  font-weight: bold;
}

@media screen and (max-width : 703px) {
  .search-block form button::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
    font-size: 17px;
  }

  .search-block form button span {
    display: none;
  }
}
.search-block form button:hover {
  background: #00327c;
  cursor: pointer;
}


      /* 
            FILTERING BLOCK
      */

.filtering-block {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  gap: 20px;
}
.filtering-block * {
  font-weight: bolder;
}
.filtering-block ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.filtering-block ul li {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  color: black;
  gap: 2px;
  border: 3px solid var(--secondary-color);
  transition: .7s;
}
.filtering-block ul li i {
  background: #0065fc7a;
  color: blue;
  border-radius: 50%;
  display: flex;
  width: 45px;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtering-block ul li span {
  padding: 15px;
}

.filtering-block ul li:hover {
  background: #0065fc7a;
  color: white;
  cursor: pointer;
}

.filtering-block ul li:hover ~  i {
  color: white;
}

/*
                            INFOS BLOCK
*/
p.infos-block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  margin-block: 25px;
}

p.infos-block i {
  background: white;
  color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--background-color);
}


/*
                            PLACES BLOCK
*/
main .stars {
  color: var(--primary-color);
  font-size: 12px;
}
.main-popular-places {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}

section.main-places {
  /* font-weight: 600; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 10px;
  background: var(--background-color);
  border-radius: 15px;
  padding: 27px;
  width: 100%;
}

section.main-places p.section-title {
  font-weight: bolder;
  font-size: 18px;
  /* color: red; */
}
section.main-places .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 15px;
}




section.main-places .section-content .place-item {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: white;
  border-radius: 15px;
  padding: 5px;
  gap: 10px;
  position: relative;
}

section.main-places .section-content .place-item .booking-block {
  /* content: 'Book Now'; */
  position: absolute;
  top: 1;
  left: 1;
  background: rgba(0, 0, 0, 0.548);
  height: 57%;
  width: 96%;
  border-start-start-radius: 15px;
  border-start-end-radius: 15px;
  transition: .6s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: white;
  font-weight: bolder;
  opacity: 0;
}
.place-item .booking-block button {
  background: rgba(255, 255, 255, 0.452);
  padding: 10px 6px;
  font-weight: 600;
  transition: .6s;
  border: none;
  cursor: pointer;
  
}
.place-item .booking-block button:hover {
  background: #1271ffc7;
  color: white;
}
section.main-places .section-content .place-item:hover > .booking-block{
  opacity: 1;
}
section.main-places .section-content .place-item::after:hover {
  color: red;
}
section.main-popular-places .section-content .place-item .items-infos {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 10px;
}


section.main-places .section-content .place-item img{
  width: 100%;
  height: 120px;
  border-start-start-radius: 15px;
  border-start-end-radius: 15px;
}


section.main-places .section-content .place-item .place-title {
  font-weight: bolder;
  color: black;
  font-size: 16px;
}
section.main-places .section-content .place-item h4{
  color: #3d3d3d;
  font-size: 14px;
}
section.main-places .section-content .place-item h4 span {
  color: black;
}

section.main-places .show-more{
  border: none;
  background: none;
  display: block;
  font-weight: bolder;
  font-size: 15px;
  position: relative;
}

section.main-places .show-more::after {
  content: '';
  width: 0px;
  height: 2px;
  background: blue;
  position: absolute;
  transition: .6s;
  top: 100%;
  left: 0;
}

section.main-places .show-more:hover::after {
  width: 100%;
}


/*
                            POPULAR PLACES BLOCK
*/

aside.popular-places {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    background: var(--background-color);
    border-radius: 15px;
    max-width: 50%;
    padding: 20px;
 }



aside.popular-places .block-intro {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

aside.popular-places .section-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  background: var(--background-color);
  border-radius: 15px;
}


aside.popular-places  .popular-place-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 5px;
  min-height: 125px;
  max-height: 130px;
  gap: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

aside.popular-places .popular-place-item img{
  width: 140px;
  height: 100%;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
}
aside.popular-places .popular-place-item .place-title {
  font-size: 15px;
  font-weight: bolder;
}
aside.popular-places  .popular-place-item h4{
  color: #3d3d3d;
  font-size: 12px;
  margin-block : 15px;
}
aside.popular-places .popular-place-item h4 span {
  color: black;
}
aside.popular-places .popular-place-item .items-infos {margin-bottom: 5px;}
aside.popular-places .popular-place-item .items-infos .stars {
  font-size: 12px;
  margin-top: 20%;
}


     /* 
              ACTIVITIES BLOCK
      */

.activities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-block: 25px;
  min-height: 400px;
}
.activities-section h3 {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}
.activities-section .section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding: 10px;
}

.activities-section .section-content .fused-activities {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  gap: 30px;
}

.activities-section .section-content article img {
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  width: 100%;
}

.activities-section .section-content .activity-item,
.activities-section .section-content .fused-activities {
  width: 25%;
  max-height: 100%;
  height: 100%;
}
.activities-section .section-content .activity-item img ,
 .activities-section .section-content .fused-activities .fused-activity-item img {
  object-fit: cover;
}
.activities-section .section-content .activity-item,
.activities-section .section-content .fused-activity-item {
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.076) 0px 13px 27px -5px, rgba(0, 0, 0, 0.062) 0px 1px 16px -8px;
}

.activities-section .section-content .activity-item p,
.activities-section .section-content .fused-activity-item p{
  padding: 15px;
  font-weight: bolder;
  color: black;
}
.activities-section .section-content article {
  transition: .5s;
}
.activities-section .section-content article:hover {
  /* transform: scale(1.04); */
  transform: translateY(-5px);
}

.activities-section .section-content .activity-item img {
  height: 440px;
  /* transition: .6s; */
}

.activities-section .section-content .fused-activities article {
  width: 100%;
}
.activities-section .section-content .fused-activities img {
  height: 180px;
  width: 100%;
}








      /* 
              FOOTER BLOCK
      */


footer {
  display: flex;
  background: var(--background-color);
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 30px;
  gap: 20%;
  color: black;
}
@media screen and (max-width : 730px) {
  footer {
    gap: 25px;
  }
}

footer ul h5 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
}

footer ul li {
  margin-block : 7px;
}
footer ul li a {
  color: black;
  transition: .6;
}


footer ul li a:hover {
  color: var(--primary-color);
}

 
@media  screen and (min-width : 1020px) {.activities-section .section-content-mobile {display: none;}}
@media  screen and (max-width : 1020px) {
  .activities-section .section-content {display: none;}

  .activities-section .section-content-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
  }

  .activities-section .section-content-mobile article {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    max-height: 100%;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: .5s;
    min-width: 260px;
  }

  .activities-section .section-content-mobile article img {
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    width: 100%;
  }

  .activities-section .section-content-mobile article p{
    padding: 15px;
    font-weight: bolder;
    color: black;
  }

  .activities-section .section-content-mobile article:hover {
    transform: scale(1.04);
  }

  .activities-section .section-content-mobile .activity-item img {
    height: 400px;
    object-fit:cover;
  }
}


@media screen and (max-width : 924px) {

  .filtering-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .filtering-block .taglist {
    justify-content: start;
  }
  @media screen and (max-width : 930px) and (min-width : 920px) {
    .popular-place-item {
      background: red;
    }
  }



}


        /*
                    CHECK POINT 1094PX
        
        */
@media screen and (max-width : 1094px) {
  .main-popular-places {
    flex-direction: column-reverse;
  } 

  .main-popular-places aside.popular-places {width: 100%; max-width: 100%;}
  aside.popular-places .section-content{
      flex-direction: row;
      flex-wrap: wrap;
  }
  /* .popular-place-item {} */

  .main-popular-places .popular-places .popular-place-item {
    max-height: unset;
    align-items: center;
    justify-content: start;
    max-height: 125px;
    width: fit-content;
    min-width: 80%;
  }
  .main-popular-places .popular-places .popular-place-item .items-infos {
    justify-content: start;
    align-items: flex-start;
  }
}
  /* CHECKPOINT 730PX */
@media screen and (max-width : 730px) {
  
  main {
    padding: 0;
  }
  header{
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header nav {
    width: 100%;
    height: 60px;
  }
  header nav a{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(211, 211, 211);
  }
  header nav a.active {
    border-top: none;
    border-bottom: 3px solid blue;
  }

    /* MOBILE SEARCH BLOCK */
  .search-block {
    padding: 20px;
    justify-content: center;
  }
  .search-block form { max-width: 80%; margin: 20px 0; }
  .search-block form input,  .search-block form button  {  padding: 10px; max-width: 90%; }

  /* MOBILE  MAIN PLACES */

  .main-popular-places .main-places {
    background: white;
    border-radius: 0;
    padding: 25px 0;
  }


  .main-popular-places .main-places .section-title,
  .main-popular-places .main-places .show-more {
    margin-left: 25px;
  }
  .main-popular-places .main-places .section-content {
    padding: 20px 10%;
    width: 100%;
  }
  .main-popular-places .main-places .section-content .place-item {
    width: 100%;
    height: fit-content;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  section.main-popular-places aside.popular-places{border-radius: 0;}

 
section.main-places .section-content .place-item img{
  width: fit-content;
  height: 180px;
  max-width: 100%;
  object-fit: cover;
}



    /* MOBILE MOST POPULAR PLACES */

  .main-popular-places .popular-places .popular-place-item .items-infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    /* background: red; */
  }    
  .main-popular-places .popular-places .popular-place-item {
    width: 100%;
  }

  .main-popular-places .popular-places .popular-place-item .items-infos .stars {
    margin: 0;
  }
  
  .activities-section .section-content-mobile .activity-item img {
    height: 180px;
    object-fit:cover;
  }
  section.main-places .section-content .place-item .booking-block {
    height: 66%;
    width: 97%;
    /* background: red; */
  }
  .activities-section .section-content-mobile article {
    min-width: 90%;
  }
}


@media screen and (min-width : 1278px){
  .main-places  {
    width: fit-content;
    max-width: fit-content;
    width: 50%;
    background: red;
  }
}